
/* default style */
*{margin:0;padding:0;border:none;}
article,aside,audio,canvas,command,datalist,details,embed,figcaption,figure,footer,header,hgroup,keygen,meter,nav,output,progress,section,source,video,main{display:block}mark,rp,rt,ruby,summary,time{display:inline}
a, abbr, acronym, address, applet, article, aside, audio,b, blockquote, big, body,center, canvas, caption, cite, code, command,datalist, dd, del, details, dfn, dl, div, dt, em, embed,fieldset, figcaption, figure, font, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html,i, iframe, img, ins,kbd, keygen,label, legend, li, meter,nav,object, ol, output,p, pre, progress,q, s, samp, section, small, span, source, strike, strong, sub, sup,table, tbody, tfoot, thead, th, tr, tdvideo, tt,u, ul, var{background: transparent;border: 0 none;font-weight: inherit;margin: 0;padding: 0;
border: 0;outline: 0;vertical-align: top;font-family: 'Roboto', sans-serif;}
a{text-decoration:none;outline: none !important;transition: all 0.35s ease-in-out;-moz-transition: all 0.35s ease-in-out;-webkit-transition: all 0.35s ease-in-out;}
b, strong{font-weight:bold;}
ul,ol{list-style: none;}
q {quotes: none;}
table, table td { padding:0;border:none;border-collapse:collapse;}
img{vertical-align:top; max-width:100%;}
embed{ vertical-align:top;}
input,button{-webkit-appearance:none;outline: none;}
button::-moz-focus-inner{border:0;}
html,body{height:100%;font-family: 'Roboto', sans-serif;}

/* common style */
.main-wrapper{width:100%;float:left;}
.wrapper-in{width:94%;max-width:1037px;margin:0 auto;}
.clear{clear:both;}

/* header style */
.header-line{width:100%;float:left;background:url(../images/header-transparent.png) top repeat-x;height:1px;}
.header-wrapper{width:100%;float:left;position:relative;z-index:1000;}
.header-wrapper.scroll-to-fixed-fixed {background: #fff;-webkit-box-shadow: 0px 6px 9px -1px rgba(232,232,232,1);
-moz-box-shadow: 0px 6px 9px -1px rgba(232,232,232,1);
box-shadow: 0px 6px 9px -1px rgba(232,232,232,1);}
.header-wrapper.scroll-to-fixed-fixed .logo {background:url(../images/logo1.png) no-repeat 0 12px;width:205px;height:80px;cursor:pointer;margin:14px 0 0 0;}
.scroll-to-fixed-fixed .menu{width:51%;float:right;text-align:right;margin-right:1.5%;margin-top:30px;}
.scroll-to-fixed-fixed .menu ul {display: inline;list-style: none;}
.scroll-to-fixed-fixed .menu ul li {font-family: 'Roboto', sans-serif;display: inline-block;position: relative;cursor: pointer;-webkit-transition: all 0.2s;-moz-transition: all 0.2s;-ms-transition: all 0.2s;-o-transition: all 0.2s;transition: all 0.2s;font-size:14px;text-transform:uppercase;margin:0 0 0 30px}
.scroll-to-fixed-fixed .menu ul li a{color:#000;padding: 8px 0px;display:block;}
.scroll-to-fixed-fixed .menu ul li a:hover{text-decoration:none;color:#6cceca;}
.scroll-to-fixed-fixed .menu ul li:hover, .menu ul li.active {border-bottom:2px solid #23b5af;}
.scroll-to-fixed-fixed .menu ul li ul {padding: 0;position: absolute;top: 83px;left: 0;width: 160px;-webkit-box-shadow: none;-moz-box-shadow: none;box-shadow: none;display: none;opacity: 0;visibility: hidden;-webkit-transiton: opacity 0.2s;-moz-transition: opacity 0.2s;-ms-transition: opacity 0.2s;-o-transition: opacity 0.2s;-transition: opacity 0.2s;background:url(../images/header-menuactive.png) repeat;}
.scroll-to-fixed-fixed .menu ul li ul li { display: block;color: #fff;font-size:14px;text-align:left;}
.scroll-to-fixed-fixed .menu ul li ul li a{padding: 10px 10px;display:block;background:url(../images/menu-line.png) bottom repeat-x;}
.scroll-to-fixed-fixed .menu ul li ul li:last-child a{background:none;}
.scroll-to-fixed-fixed .menu ul li ul li:hover, .menu ul li ul li.active { background: #cf0e0f; }
.scroll-to-fixed-fixed .menu ul li:hover ul {display: block;opacity: 1;visibility: visible;}
.scroll-to-fixed-fixed .login a{font-family: 'Roboto', sans-serif;text-transform:uppercase;float:right;color:#000;font-size:14px;text-decoration:none;margin:30px 0 0 52px;padding: 6px 17px;}
.scroll-to-fixed-fixed .login a:hover, .sign-up a.active{color:#F00;text-decoration:none;}
.scroll-to-fixed-fixed .sign-up a{font-family: 'Roboto', sans-serif;text-transform:uppercase;float:right;color:#23b5af;font-size:14px;text-decoration:none;margin:24px 0 0;padding:7px 15px;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;border:2px solid #31d2cb;}
.scroll-to-fixed-fixed .sign-up a:hover, .sign-up a.active{background:#23b5af;color:#fff;text-decoration:none;}
#menu-icon{display:none;}

.header-wrapper .logo{float:left;margin:0 0;background:url(../images/logo.png) no-repeat 0 30px;width:207px;height:82px;cursor:pointer;}
.menu{width:51%;float:right;text-align:right;margin-top:30px;}
.menu ul {display: inline;list-style: none;}
.menu ul li {font-family: 'Roboto', sans-serif;display: inline-block;position: relative;cursor: pointer;-webkit-transition: all 0.2s;-moz-transition: all 0.2s;-ms-transition: all 0.2s;-o-transition: all 0.2s;transition: all 0.2s;font-size:14px;text-transform:uppercase;margin:0 0 0 30px}
.menu ul li a{color:#fff;padding: 8px 0px;display:block;}
.menu ul li a:hover{text-decoration:none;}
.menu ul li:hover, .menu ul li.active {border-bottom:2px solid #23b5af;}
.menu ul li ul {padding: 0;position: absolute;top: 83px;left: 0;width: 160px;-webkit-box-shadow: none;-moz-box-shadow: none;box-shadow: none;display: none;opacity: 0;visibility: hidden;-webkit-transiton: opacity 0.2s;-moz-transition: opacity 0.2s;-ms-transition: opacity 0.2s;-o-transition: opacity 0.2s;-transition: opacity 0.2s;background:url(../images/header-menuactive.png) repeat;}
.menu ul li ul li { display: block;color: #fff;font-size:14px;text-align:left;}
.menu ul li ul li a{padding: 10px 10px;display:block;background:url(../images/menu-line.png) bottom repeat-x;}
.menu ul li ul li:last-child a{background:none;}
.menu ul li ul li:hover, .menu ul li ul li.active { background: #cf0e0f; }
.menu ul li:hover ul {display: block;opacity: 1;visibility: visible;}
.login a{font-family: 'Roboto', sans-serif;text-transform:uppercase;float:right;color:#fff;font-size:14px;text-decoration:none;margin:30px 0 0 52px;padding: 6px 17px;}
.login a:hover, .sign-up a.active{color:#F00;text-decoration:none;}
.sign-up a{font-family: 'Roboto', sans-serif;text-transform:uppercase;float:right;color:#23b5af;font-size:14px;text-decoration:none;margin:24px 0 0;padding:7px 15px;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;border:2px solid #31d2cb;}
.sign-up a:hover, .sign-up a.active1{background:#23b5af;color:#fff;text-decoration:none;}
#menu-icon{display:none;}

/* Search box */
#search-box{float:right;width:auto;position:relative;margin:24px 0 0 1%;}
#search{position:relative;}
#search input[type="text"] {height:41px;font-size: 55px;display: inline-block;font-family: 'Roboto', sans-serif;font-size:15px;color:#000;border: none;outline: none;color:#555;padding: 3px;padding-right: 60px;width: 0px;position:absolute;top: 0;right: 0;background: none;z-index: 3;transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);cursor: pointer;}
#search input[type="text"]:focus:hover {background:#fff;border-radius:5px;font-family: 'Roboto', sans-serif;font-size:15px;color:#000;}
#search input[type="text"]:focus {width: 700px;z-index: 1;cursor: text;background:#fff;border-radius:5px;font-family: 'Roboto', sans-serif;font-family: 'Roboto', sans-serif;font-size:15px;color:#000;}
#search_submit input[type="submit"] {height:41px;width:46px;display: inline-block;float: right;background:url(../images/search-icon.png) no-repeat;text-indent: -10000px;border: none;position: relative;top: 0;right: 0;z-index: 2;cursor: pointer;cursor: pointer;transition: opacity .4s ease;}
#search_submit input[type="submit"]:hover {background:url(../images/search-icon.png) no-repeat #eeba4c;border-radius:0 5px 5px 0;-moz-border-radius:0 5px 5px 0;-webkit-border-radius:0 5px 5px 0;}
.scroll-to-fixed-fixed #search-box{float:right;width:auto;position:relative;margin:24px 0 0 1%;}
.scroll-to-fixed-fixed #search{position:relative;}
.scroll-to-fixed-fixed #search input[type="text"] {height:41px;display: inline-block;font-family: 'Roboto', sans-serif;font-size:15px;color:#000;border: none;outline: none;color:#555;padding: 3px;padding-right: 60px;width: 0px;position:absolute;top: 0;right: 0;background: none;z-index: 3;transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);cursor: pointer;}
.scroll-to-fixed-fixed #search input[type="text"]:focus:hover {background:#fff;border-radius:5px;border:1px solid #ccc;}
.scroll-to-fixed-fixed #search input[type="text"]:focus {width: 700px;z-index: 1;cursor: text;background:#fff;border-radius:5px;border:1px solid #ccc;}
.scroll-to-fixed-fixed #search_submit input[type="submit"] {height:41px;width:46px;display: inline-block;float: right;background:url(../images/small-search-icon.png) no-repeat;text-indent: -10000px;border: none;position: relative;top: 0;right: 0;z-index: 2;cursor: pointer;cursor: pointer;transition: opacity .4s ease;}
.scroll-to-fixed-fixed #search_submit input[type="submit"]:hover {background:url(../images/search-icon.png) no-repeat #eeba4c;border-radius:0 5px 5px 0;-moz-border-radius:0 5px 5px 0;-webkit-border-radius:0 5px 5px 0;}

/* banner style */
.banner-wrapper{width:100%;float:left;margin-top:-82px;}

/* body style */
.writers-section{width:100%;float:left;background:#f0f0f0;border-top:1px solid #fff;padding:19px 0;}
.writers-section-lft{width:72%; float:left;background:#fff;border:2px solid #ffbc4d;padding:2px;border-radius:5px;-webkit-border-radius:5px;-o-border-radius:5px;-moz-border-radius:5px;}
.writers-section-lft input[type="text"]{width:65%; float:left; font-size:24px;font-family: 'Roboto', sans-serif; color:#909090; padding:12.5px 9px; border:none; background:#fff; transition:all ease 0.4s; -webkit-transition:all ease 0.4s; -o-transition:all ease 0.4s; border-radius:0px;margin:0 0 0 2%;} 
.writers-section-lft input[type="text"]:focus{background:#fff5e6; color:#909090;}
.writers-section-lft input[type="submit"]{width:61px; height:54px; float:right;color:#fff; padding:8px 8px; border:none; background:#268cf7; text-transform:uppercase; font-weight:300; cursor:pointer;transition:all ease 0.4s; -webkit-transition:all ease 0.4s; -o-transition:all ease 0.4s;background:url(../images/writing-search.png) no-repeat;font-size:0;}
.writers-section .postbtn{float:right;}
.writers-section .postbtn a{background:#e3493b;border:2px solid #b6382c;border-radius:5px;-webkit-border-radius:5px;-o-border-radius:5px;-moz-border-radius:5px;transition:all ease 0.4s; -webkit-transition:all ease 0.4s; -o-transition:all ease 0.4s;-moz-transition:all ease 0.4s;font-family: 'Roboto', sans-serif;font-size:24px;color:#fff;text-transform:uppercase;padding:14px 32px;float:left;}
.writers-section .postbtn a:hover{background:#23b5af;border:2px solid #176764;}
.feature-writer-section{float:left;background:#fff;width:100%;}
.common-wrap{width:100%;float:left;margin:50px 0;}
.feature-writer-section .common-wrap .feature-txt{width:100%;float:left;font-size:45px;color:#828284;font-family: 'Roboto', sans-serif;text-align:center;text-transform:uppercase;}
.see-more a{font-family: 'Roboto', sans-serif;text-transform:uppercase;float:right;color:#ffbc4d;font-size:12px;text-decoration:none;margin:-43px 0 0;padding:7px 15px;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;border:1px solid #bababa;}
.see-more a:hover, .see-more a.active2{background:#ffbc4d;color:#fff;text-decoration:none;border:0;}
.feature-writer-box{width:100%;float:left;margin: 20px 0 55px;}
.feature-writer-box ul{margin:0;padding:0;list-style:none;}
.feature-writer-box ul li{width:47%;float:left;border:1px solid #d1d1d1;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;margin:24px 1.5% 0;padding:2%;}
.feature-writer-box ul li .feature-inner{width:100%;float:left;}
.feature-writer-box ul li .feature-inner .feature-inner-left{width:24%;float:left;}
.feature-writer-box ul li .feature-inner .feature-inner-left img{width:100%;float:left;}
.feature-writer-box ul li .feature-inner .feature-inner-right{width:73%;float:right;}
.feature-writer-box ul li .feature-inner .feature-inner-righttxt{width:auto;float:left;color:#3a3a3c;font-size:24px;font-family: 'Roboto', sans-serif;font-weight:700;}
.feature-writer-box ul li .feature-inner .feature-inner-righttxt span{color:#c2c2c2;margin:0 7px 0 0;font-weight:100;font-style:normal;}
.feature-writer-box ul li .feature-inner .feature-inner-rating{float:right;width:auto;margin:7px 0 0;}
.feature-writer-box ul li .feature-inner .feature-inner-righttxt1{width:100%;float:left;color:#828284;font-size:18px;font-family: 'Roboto', sans-serif;font-weight:normal;margin:10px 0;}
.feature-writer-box ul li .feature-inner .feature-inner-righttxt2{width:100%;float:left;color:#3a3a3c;font-size:14px;font-family: 'Roboto', sans-serif;font-weight:normal;line-height:20px;}
.feature-writer-box ul li .feature-inner .know-morebtn a{font-family: 'Roboto', sans-serif;float:left;color:#3a3a3c;font-size:14px;text-decoration:none;margin:15px 0 0;padding:5px 9px;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;border:1px solid #e3493b;}
.feature-writer-box ul li .feature-inner .know-morebtn a:hover{font-size:14px;text-decoration:none;padding:5px 9px;background:#e3493b;color:#fff;border:1px solid #e3493b;}
.postbtn1{text-align:center;}
.postbtn1 a{background:#e3493b;border:2px solid #b6382c;border-radius:5px;-webkit-border-radius:5px;-o-border-radius:5px;-moz-border-radius:5px;transition:all ease 0.4s; -webkit-transition:all ease 0.4s; -o-transition:all ease 0.4s;-moz-transition:all ease 0.4s;font-family: 'Roboto', sans-serif;font-size:24px;color:#fff;text-transform:uppercase;padding:14px 32px;display:inline-table;}
.postbtn1 a:hover{background:#23b5af;border:2px solid #176764;}
.video-section{width:100%;float:left;background:#211f4c;}
.video-section-in iframe,embed,video,img{width:100%;float:left;}
.what-people-sectionbox{width:100%;float:left;}
.what-people-section{width:100%;float:left;background:url(../images/home-4thbg.jpg) repeat center fixed;}
.what-people-section .what-people-heading{width:100%;float:left;margin:0 0 42px;color:#828284;font-size:45px;font-family: 'Roboto', sans-serif;text-align:center;}
.what-people-section .what-people-banner{width:100%;float:left;}
.ready-post-section{width:100%;float:left;}
.ready-post-sectionin{width:100%;float:left;background:url(../images/home-5thbg1.jpg) repeat center fixed;}
.ready-post-sectionin .readytxt{width:100%;float:left;font-size:40px;font-family: 'Roboto', sans-serif;text-shadow:2px 0px 0px #c57017;color:#fff;text-align:center;}
.ready-post-sectionin .readytxt1{width:100%;float:left;font-size:22px;font-family: 'Roboto', sans-serif;text-shadow:2px 0px 0px #c57017;color:#fff;text-align:center;margin:20px 0 35px;}
.postbtn2{text-align:center;}
.postbtn2 a{background:#fff;border-radius:5px;-webkit-border-radius:5px;-o-border-radius:5px;-moz-border-radius:5px;transition:all ease 0.4s; -webkit-transition:all ease 0.4s; -o-transition:all ease 0.4s;-moz-transition:all ease 0.4s;font-family: 'Roboto', sans-serif;font-size:24px;color:#e3493b;text-transform:uppercase;padding:14px 32px;display:inline-table;box-shadow:#894e12 1px 1px 2px ; -moz-box-shadow:#894e12 1px 1px 2px ; -ms-box-shadow:#894e12 1px 1px 2px ; -o-box-shadow:#894e12 1px 1px 2px ; -webkit-box-shadow:#894e12 1px 1px 2px ;}
.postbtn2 a:hover{background:#e3493b;color:#fff;}


/* footer style */
.footer-wrapper{width:100%;float:left;background:#2e2e2f;}
.footer-heading{width:100%;float:left;margin:0 0 12px;font-family: 'Roboto', sans-serif;font-size:18px;color:#e4e4e4;text-transform:uppercase;padding:0 0 3px;}
.footer-wrapper .linkbox{width:19%;float:left;margin:0 1% 0px 0;}
.footer-wrapper .linkmenu{width:100%;float:left;margin:0 0 0px;}
.footer-wrapper .linkmenu ul{ list-style:none;padding:0;margin:0;}
.footer-wrapper .linkmenu ul li{ width:100%;float:left;margin:0 0 10px;}
.footer-wrapper .linkmenu ul li a i.fa-angle-right{color:#fff;background:none;border:1px solid #fff;border-radius:50%;font-size:10px;width:13px;height:13px;text-align:center;margin:2px 5px 0 0;}
.footer-wrapper .linkmenu ul li a{ width:100%;float:left;font-family: 'Roboto', sans-serif;font-size:14px;color:#e4e4e4;text-decoration:none;text-transform:none;}
.footer-wrapper .subscribe{width:36%;float:left;}
.footer-wrapper .subscribebox{width:100%; float:left;}
.footer-wrapper .subscribebox input[type="text"]{width:64.5%; float:left; font-size:16px; color:#909090; padding:12px 9px; border:none; transition:all ease 0.4s; -webkit-transition:all ease 0.4s; -o-transition:all ease 0.4s;border-radius:5px 0 0 5px; -webkit-border-radius:5px 0 0 5px; -o-border-radius:5px 0 0 5px; -moz-border-radius:5px 0 0 5px;} 
.footer-wrapper .subscribebox input[type="text"]:focus{background:#a9a9a9; color:#000;}
.footer-wrapper .subscribebox input[type="submit"]{width:auto;float:right; font-size:16px; color:#fff;padding:12px 12px;border:none; background:#23b5af;font-weight:500; cursor:pointer;transition:all ease 0.4s; -webkit-transition:all ease 0.4s; -o-transition:all ease 0.4s;font-family: 'Roboto', sans-serif;border-radius:0 5px 5px 0; -webkit-border-radius:0 5px 5px 0; -o-border-radius:0 5px 5px 0; -moz-border-radius:0 5px 5px 0;}
.footer-wrapper .subscribebox input[type="submit"]:hover{background:#1c9691;}
.footer-wrapper .social{width:18%;float:right;margin:0 0 0px 0;}
.foot_socl_icon_area{width:100%; float:right; position:relative;}
.foot_socl_icon_area ul{padding:0px; margin:0px;}
.foot_socl_icon_area li{width:auto; float:left; display:inline; list-style:none; list-style-type:none;margin:0 2% 0 0;}
.foot_socl_icon_area li i{width:52px; height:52px;color:#fff; float:left; text-align:center; padding-top:8px; transition:all ease 0.4s; cursor:pointer; margin-left:4px;border:4px solid #fff;border-radius:50%;font-size:28px;}
.foot_socl_icon_area li i.fb:hover{color:#7088d7;border:4px solid #7088d7;}
.foot_socl_icon_area li i.twitter:hover{color:#3fdcfd;border:4px solid #3fdcfd;}
.foot_socl_icon_area li i.google:hover{color:#ff5420;border:4px solid #ff5420;}
.footer-copyright{width:100%;float:left;margin:45px 0 0px;background:url(../images/footer-line.png) top repeat-x;padding:20px 0 0;font-family: 'Roboto', sans-serif;font-size:14px;color:#e4e4e4;}
.footer-copyright .footerlogo{float:left;margin:0 2% 0 0;}
.footer-copyright span{color:#6d6d6d;line-height:13px;font-size:34px;font-weight:100;margin:0 1% 0 0;}
.termtxt{font-family: 'Roboto', sans-serif;font-size:14px !important;color:#e4e4e4 !important;margin:0 0 0 4% !important;}
.termtxt a{font-family: 'Roboto', sans-serif;font-size:14px;color:#e4e4e4;font-weight:normal;line-height:18px;}
.footer-copyright .designtext{float:right;font-size:11px;color:#6f6f6f;font-family: 'Roboto', sans-serif;}
.footer-copyright .designtext a{font-size:11px;color:#6f6f6f;font-family: 'Roboto', sans-serif;text-decoration:none;}



/* innerpage style */
.about-uswrap{width:100%;float:left;}
.breadcrumbs{width:100%;float:left;margin:33px 0 25px;}
.breadcrumbs ul{margin:0;padding:0;list-style:none;}
.breadcrumbs ul li{color:#939393;font-family: 'Roboto', sans-serif;font-size:12px;margin:0 5px 0 0;float:left;}
.breadcrumbs ul li a{color:#3a3a3c;font-family: 'Roboto', sans-serif;font-size:12px;}
.about-uswrap .about-heading{float: left;text-align: center;width: 100%;margin-bottom:87px;}
.about-uswrap .about-heading span{color: #76767a;font-family: 'Roboto', sans-serif;font-size: 40px;padding: 0 0 20px;background:url(../images/about-line.jpg) no-repeat center bottom;text-transform: uppercase;}
.about-common-wrap {float: left;margin: 29px 0 30px;width: 100%;}
.about-uswrap-mid{width:100%;float:left;background:url(../images/about-pic.jpg) no-repeat right center;}
.about-uswrap-mid .about-left{width:50%;float:right;}
.abouttxt{width:100%;float:left;color:#76767a;font-family: 'Roboto', sans-serif;font-size:50px;text-transform:uppercase;}
.abouttxt span{color:#e3493b;font-family: 'Averia Serif Libre';font-size:52px;text-transform:capitalize;font-weight:700;font-style:italic;}
.abouttxt1{width:100%;float:left;color:#3a3a3c;font-family: 'Roboto', sans-serif;font-size:20px;margin:16px 0;font-weight:700;}
.abouttxt2{width:100%;float:left;color:#3a3a3c;font-family: 'Roboto', sans-serif;font-size:15px;line-height:20px;}
.abouttxt2 p{color:#3a3a3c;font-family: 'Roboto', sans-serif;font-size:15px;line-height:20px;margin:0 0 15px;text-align:justify;}
.about-uswrap-lower{width:100%;float:left;background:url(../images/about-pic1.jpg) no-repeat left center;}
.about-uswrap-lower .about-right{width:50%;float:left;}
.about-righttxt{width:100%;float:left;}
.about-righttxt ul{margin:0;padding:0;list-style:none;}
.about-righttxt ul li i.fa-angle-right {background: none;border: 2px solid #f1c66b;border-radius: 50%;color: #f1c66b;font-size: 15px;height: 20px;margin: 2px 5px 0 0;text-align: center;width: 20px;font-weight: 700;}
.about-righttxt ul li {font-size:15px;color:#3a3a3c;font-family: 'Roboto', sans-serif;margin:10px 0 0;}