
/* default style */
*{margin:0;padding:0;border:none;}
article,aside,audio,canvas,command,datalist,details,embed,figcaption,figure,footer,header,hgroup,keygen,meter,nav,output,progress,section,source,video,main{display:block}mark,rp,rt,ruby,summary,time{display:inline}
a, abbr, acronym, address, applet, article, aside, audio,b, blockquote, big, body,center, canvas, caption, cite, code, command,datalist, dd, del, details, dfn, dl, div, dt, em, embed,fieldset, figcaption, figure, font, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html,i, iframe, img, ins,kbd, keygen,label, legend, li, meter,nav,object, ol, output,p, pre, progress,q, s, samp, section, small, span, source, strike, strong, sub, sup,table, tbody, tfoot, thead, th, tr, tdvideo, tt,u, ul, var{background: transparent;border: 0 none;font-weight: inherit;margin: 0;padding: 0;
border: 0;outline: 0;vertical-align: top;font-family: 'Roboto', sans-serif;}
a{text-decoration:none;outline: none !important;transition: all 0.35s ease-in-out;-moz-transition: all 0.35s ease-in-out;-webkit-transition: all 0.35s ease-in-out;}
b, strong{font-weight:bold;}
ul,ol{list-style: none;}
q {quotes: none;}
table, table td { padding:0;border:none;border-collapse:collapse;}
img{vertical-align:top; max-width:100%;}
embed{ vertical-align:top;}
input,button,submit{-webkit-appearance:none;outline: none;transition:all ease 0.4s; -webkit-transition:all ease 0.4s; -o-transition:all ease 0.4s;-moz-transition:all ease 0.4s;}
button::-moz-focus-inner{border:0;transition:all ease 0.4s; -webkit-transition:all ease 0.4s; -o-transition:all ease 0.4s;-moz-transition:all ease 0.4s;}
html,body{height:100%;font-family: 'Roboto', sans-serif;}

/* common style */
.main-wrapper{width:100%;float:left;}
.wrapper-in{width:94%;max-width:1037px;margin:0 auto;}
.clear{clear:both;}

/* header style */
.header-line{width:100%;float:left;background:url(../images/header-transparent.png) top repeat-x;height:1px;}
.header-wrapper{width:100%;float:left;position:relative;z-index:1000;}
.header-wrapper.scroll-to-fixed-fixed {background: #fff;-webkit-box-shadow: 0px 6px 9px -1px rgba(232,232,232,1);
-moz-box-shadow: 0px 6px 9px -1px rgba(232,232,232,1);
box-shadow: 0px 6px 9px -1px rgba(232,232,232,1);}
.scroll-to-fixed-fixed {background: #fff;-webkit-box-shadow: 0px 6px 9px -1px rgba(232,232,232,1);-moz-box-shadow: 0px 6px 9px -1px rgba(232,232,232,1);box-shadow: 0px 6px 9px -1px rgba(232,232,232,1);width:100%;position:fixed;z-index: 5;}
.header-wrapper.scroll-to-fixed-fixed .logo {background:url(../images/logo1.png) no-repeat 0 12px;width:205px;height:80px;cursor:pointer;margin:14px 0 0 0;}
.scroll-to-fixed-fixed .logo {background:url(../images/logo1.png) no-repeat 0 12px;width:205px;height:75px;cursor:pointer;margin:10px 0 0 0;float:left;}
.scroll-to-fixed-fixed .menu{width:51%;float:right;text-align:right;margin-right:1.5%;margin-top:30px;}
.scroll-to-fixed-fixed .menu ul {display: inline;list-style: none;}
.scroll-to-fixed-fixed .menu ul li {font-family: 'Roboto', sans-serif;display: inline-block;position: relative;cursor: pointer;-webkit-transition: all 0.2s;-moz-transition: all 0.2s;-ms-transition: all 0.2s;-o-transition: all 0.2s;transition: all 0.2s;font-size:14px;text-transform:uppercase;margin:0 0 0 30px}
.scroll-to-fixed-fixed .menu ul li a{color:#000;padding: 8px 0px;display:block;}
.scroll-to-fixed-fixed .menu ul li a:hover{text-decoration:none;color:#6cceca;}
.scroll-to-fixed-fixed .menu ul li:hover, .menu ul li.active {border-bottom:2px solid #23b5af;}
.scroll-to-fixed-fixed .menu ul li ul {padding: 0;position: absolute;top: 83px;left: 0;width: 160px;-webkit-box-shadow: none;-moz-box-shadow: none;box-shadow: none;display: none;opacity: 0;visibility: hidden;-webkit-transiton: opacity 0.2s;-moz-transition: opacity 0.2s;-ms-transition: opacity 0.2s;-o-transition: opacity 0.2s;-transition: opacity 0.2s;background:url(../images/header-menuactive.png) repeat;}
.scroll-to-fixed-fixed .menu ul li ul li { display: block;color: #fff;font-size:14px;text-align:left;}
.scroll-to-fixed-fixed .menu ul li ul li a{padding: 10px 10px;display:block;background:url(../images/menu-line.png) bottom repeat-x;}
.scroll-to-fixed-fixed .menu ul li ul li:last-child a{background:none;}
.scroll-to-fixed-fixed .menu ul li ul li:hover, .menu ul li ul li.active { background: #cf0e0f; }
.scroll-to-fixed-fixed .menu ul li:hover ul {display: block;opacity: 1;visibility: visible;}
.scroll-to-fixed-fixed .login a{font-family: 'Roboto', sans-serif;text-transform:uppercase;float:right;color:#000;font-size:14px;text-decoration:none;margin:30px 0 0 52px;padding: 6px 17px;}
.scroll-to-fixed-fixed .login a:hover, .sign-up a.active{color:#F00;text-decoration:none;}
.scroll-to-fixed-fixed .sign-up a{font-family: 'Roboto', sans-serif;text-transform:uppercase;float:right;color:#23b5af;font-size:14px;text-decoration:none;margin:24px 0 0;padding:7px 15px;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;border:2px solid #31d2cb;}
.scroll-to-fixed-fixed .sign-up a:hover, .sign-up a.active{background:#23b5af;color:#fff;text-decoration:none;}
#menu-icon{display:none;}

.header-wrapper .logo{float:left;margin:0 0;background:url(../images/logo.png) no-repeat 0 30px;width:207px;height:82px;cursor:pointer;}
.menu{width:51%;float:right;text-align:right;margin-top:30px;}
.menu ul {display: inline;list-style: none;}
.menu ul li {font-family: 'Roboto', sans-serif;display: inline-block;position: relative;cursor: pointer;-webkit-transition: all 0.2s;-moz-transition: all 0.2s;-ms-transition: all 0.2s;-o-transition: all 0.2s;transition: all 0.2s;font-size:14px;text-transform:uppercase;margin:0 0 0 30px}
.menu ul li a{color:#fff;padding: 8px 0px;display:block;}
.menu ul li a:hover{text-decoration:none;}
.menu ul li:hover, .menu ul li.active {border-bottom:2px solid #23b5af;}
.menu ul li ul {padding: 0;position: absolute;top: 83px;left: 0;width: 160px;-webkit-box-shadow: none;-moz-box-shadow: none;box-shadow: none;display: none;opacity: 0;visibility: hidden;-webkit-transiton: opacity 0.2s;-moz-transition: opacity 0.2s;-ms-transition: opacity 0.2s;-o-transition: opacity 0.2s;-transition: opacity 0.2s;background:url(../images/header-menuactive.png) repeat;}
.menu ul li ul li { display: block;color: #fff;font-size:14px;text-align:left;}
.menu ul li ul li a{padding: 10px 10px;display:block;background:url(../images/menu-line.png) bottom repeat-x;}
.menu ul li ul li:last-child a{background:none;}
.menu ul li ul li:hover, .menu ul li ul li.active { background: #cf0e0f; }
.menu ul li:hover ul {display: block;opacity: 1;visibility: visible;}
.login a{font-family: 'Roboto', sans-serif;text-transform:uppercase;float:right;color:#fff;font-size:14px;text-decoration:none;margin:30px 0 0 52px;padding: 6px 17px;}
.login a:hover, .sign-up a.active{color:#F00;text-decoration:none;}
.sign-up a{font-family: 'Roboto', sans-serif;text-transform:uppercase;float:right;color:#23b5af;font-size:14px;text-decoration:none;margin:24px 0 0;padding:7px 15px;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;border:2px solid #31d2cb;}
.sign-up a:hover, .sign-up a.active1{background:#23b5af;color:#fff;text-decoration:none;}
#menu-icon{display:none;}

/* Search box */
#search-box{float:right;width:auto;position:relative;margin:24px 0 0 1%;}
#search{position:relative;}
#search input[type="text"] {height:41px;font-size: 55px;display: inline-block;font-family: 'Roboto', sans-serif;font-size:15px;color:#000;border: none;outline: none;color:#555;padding: 3px;padding-right: 60px;width: 0px;position:absolute;top: 0;right: 0;background: none;z-index: 3;transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);cursor: pointer;}
#search input[type="text"]:focus:hover {background:#fff;border-radius:5px;font-family: 'Roboto', sans-serif;font-size:15px;color:#000;}
#search input[type="text"]:focus {width: 700px;z-index: 1;cursor: text;background:#fff;border-radius:5px;font-family: 'Roboto', sans-serif;font-family: 'Roboto', sans-serif;font-size:15px;color:#000;}
#search_submit input[type="submit"] {height:41px;width:46px;display: inline-block;float: right;background:url(../images/search-icon.png) no-repeat;text-indent: -10000px;border: none;position: relative;top: 0;right: 0;z-index: 2;cursor: pointer;cursor: pointer;transition: opacity .4s ease;}
#search_submit input[type="submit"]:hover {background:url(../images/search-icon.png) no-repeat #eeba4c;border-radius:0 5px 5px 0;-moz-border-radius:0 5px 5px 0;-webkit-border-radius:0 5px 5px 0;}
.scroll-to-fixed-fixed #search-box{float:right;width:auto;position:relative;margin:24px 0 0 1%;}
.scroll-to-fixed-fixed #search{position:relative;}
.scroll-to-fixed-fixed #search input[type="text"] {height:41px;display: inline-block;font-family: 'Roboto', sans-serif;font-size:15px;color:#000;border: none;outline: none;color:#555;padding: 3px;padding-right: 60px;width: 0px;position:absolute;top: 0;right: 0;background: none;z-index: 3;transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);cursor: pointer;}
.scroll-to-fixed-fixed #search input[type="text"]:focus:hover {background:#fff;border-radius:5px;border:1px solid #ccc;}
.scroll-to-fixed-fixed #search input[type="text"]:focus {width: 700px;z-index: 1;cursor: text;background:#fff;border-radius:5px;border:1px solid #ccc;}
.scroll-to-fixed-fixed #search_submit input[type="submit"] {height:41px;width:46px;display: inline-block;float: right;background:url(../images/small-search-icon.png) no-repeat;text-indent: -10000px;border: none;position: relative;top: 0;right: 0;z-index: 2;cursor: pointer;cursor: pointer;transition: opacity .4s ease;}
.scroll-to-fixed-fixed #search_submit input[type="submit"]:hover {background:url(../images/search-icon.png) no-repeat #eeba4c;border-radius:0 5px 5px 0;-moz-border-radius:0 5px 5px 0;-webkit-border-radius:0 5px 5px 0;}

/* banner style */
.banner-wrapper{width:100%;float:left;margin-top:-82px;}

/* body style */
.writers-section{width:100%;float:left;background:#f0f0f0;border-top:1px solid #fff;padding:19px 0;}
.writers-section-lft{width:72%; float:left;background:#fff;border:2px solid #ffbc4d;padding:2px;border-radius:5px;-webkit-border-radius:5px;-o-border-radius:5px;-moz-border-radius:5px;}
.writers-section-lft input[type="text"]{width:53.7%; float:left; font-size:24px;font-family: 'Roboto', sans-serif; color:#909090; padding:12.5px 9px; border:none; background:#fff; transition:all ease 0.4s; -webkit-transition:all ease 0.4s; -o-transition:all ease 0.4s; border-radius:0px;margin:0 0 0 2%;} 
.writers-section-lft input[type="submit"]{width:61px; height:54px; float:right;color:#fff; padding:8px 8px; border:none; background:#268cf7; text-transform:uppercase; font-weight:300; cursor:pointer;transition:all ease 0.4s; -webkit-transition:all ease 0.4s; -o-transition:all ease 0.4s;background:url(../images/writing-search.png) no-repeat;font-size:0;}
.writers-section .postbtn{float:right;}
.writers-section .postbtn a{background:#e3493b;border:2px solid #b6382c;border-radius:5px;-webkit-border-radius:5px;-o-border-radius:5px;-moz-border-radius:5px;transition:all ease 0.4s; -webkit-transition:all ease 0.4s; -o-transition:all ease 0.4s;-moz-transition:all ease 0.4s;font-family: 'Roboto', sans-serif;font-size:24px;color:#fff;text-transform:uppercase;padding:14px 32px;float:left;}
.writers-section .postbtn a:hover{background:#23b5af;border:2px solid #176764;}
.feature-writer-section{float:left;background:#fff;width:100%;}
.common-wrap{width:100%;float:left;margin:50px 0;}
.feature-writer-section .common-wrap .feature-txt{width:100%;float:left;font-size:45px;color:#828284;font-family: 'Roboto', sans-serif;text-align:center;text-transform:uppercase;}
.see-more a{font-family: 'Roboto', sans-serif;text-transform:uppercase;float:right;color:#ffbc4d;font-size:12px;text-decoration:none;margin:-43px 0 0;padding:7px 15px;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;border:1px solid #bababa;}
.see-more a:hover, .see-more a.active2{background:#ffbc4d;color:#fff;text-decoration:none;border:0;border: 1px solid #ffbc4d;}
.feature-writer-box{width:100%;float:left;margin: 20px 0 55px;}
.feature-writer-box ul{margin:0;padding:0;list-style:none;}
.feature-writer-box ul li{width:47%;float:left;border:1px solid #d1d1d1;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;margin:24px 1.5% 0;padding:2%;}
.feature-writer-box ul li .feature-inner{width:100%;float:left;}
.feature-writer-box ul li .feature-inner .feature-inner-left{width:24%;float:left;}
.feature-writer-box ul li .feature-inner .feature-inner-left img{width:100%;float:left;}
.feature-writer-box ul li .feature-inner .feature-inner-right{width:73%;float:right;}
.feature-writer-box ul li .feature-inner .feature-inner-righttxt{width:auto;float:left;color:#3a3a3c;font-size:24px;font-family: 'Roboto', sans-serif;font-weight:700;}
.feature-writer-box ul li .feature-inner .feature-inner-righttxt span{color:#c2c2c2;margin:0 7px 0 0;font-weight:100;font-style:normal;}
.feature-writer-box ul li .feature-inner .feature-inner-rating{float:right;width:auto;margin:7px 0 0;}
.feature-writer-box ul li .feature-inner .feature-inner-righttxt1{width:100%;float:left;color:#828284;font-size:18px;font-family: 'Roboto', sans-serif;font-weight:normal;margin:10px 0;}
.feature-writer-box ul li .feature-inner .feature-inner-righttxt2{width:100%;float:left;color:#3a3a3c;font-size:14px;font-family: 'Roboto', sans-serif;font-weight:normal;line-height:20px;}
.feature-writer-box ul li .feature-inner .know-morebtn a{font-family: 'Roboto', sans-serif;float:left;color:#3a3a3c;font-size:14px;text-decoration:none;margin:15px 0 0;padding:5px 9px;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;border:1px solid #e3493b;}
.feature-writer-box ul li .feature-inner .know-morebtn a:hover{font-size:14px;text-decoration:none;padding:5px 9px;background:#e3493b;color:#fff;border:1px solid #e3493b;}
.postbtn1{text-align:center;}
.postbtn1 a{background:#e3493b;border:2px solid #b6382c;border-radius:5px;-webkit-border-radius:5px;-o-border-radius:5px;-moz-border-radius:5px;transition:all ease 0.4s; -webkit-transition:all ease 0.4s; -o-transition:all ease 0.4s;-moz-transition:all ease 0.4s;font-family: 'Roboto', sans-serif;font-size:24px;color:#fff;text-transform:uppercase;padding:14px 32px;display:inline-table;}
.postbtn1 a:hover{background:#23b5af;border:2px solid #176764;}
.video-section{width:100%;float:left;background:#211f4c;}
.video-section-in iframe,embed,video,img{width:100%;float:left;}
.what-people-sectionbox{width:100%;float:left;}
.what-people-section{width:100%;float:left;background:url(../images/home-4thbg.jpg) repeat center fixed;}
.what-people-section .what-people-heading{width:100%;float:left;margin:0 0 42px;color:#828284;font-size:45px;font-family: 'Roboto', sans-serif;text-align:center;}
.what-people-section .what-people-banner{width:100%;float:left;}
.ready-post-section{width:100%;float:left;}
.ready-post-sectionin{width:100%;float:left;background:url(../images/home-5thbg1.jpg) repeat center fixed;}
.ready-post-sectionin .readytxt{width:100%;float:left;font-size:40px;font-family: 'Roboto', sans-serif;text-shadow:2px 0px 0px #c57017;color:#fff;text-align:center;}
.ready-post-sectionin .readytxt1{width:100%;float:left;font-size:22px;font-family: 'Roboto', sans-serif;text-shadow:2px 0px 0px #c57017;color:#fff;text-align:center;margin:20px 0 35px;}
.postbtn2{text-align:center;}
.postbtn2 a{background:#fff;border-radius:5px;-webkit-border-radius:5px;-o-border-radius:5px;-moz-border-radius:5px;transition:all ease 0.4s; -webkit-transition:all ease 0.4s; -o-transition:all ease 0.4s;-moz-transition:all ease 0.4s;font-family: 'Roboto', sans-serif;font-size:24px;color:#e3493b;text-transform:uppercase;padding:14px 32px;display:inline-table;box-shadow:#894e12 1px 1px 2px ; -moz-box-shadow:#894e12 1px 1px 2px ; -ms-box-shadow:#894e12 1px 1px 2px ; -o-box-shadow:#894e12 1px 1px 2px ; -webkit-box-shadow:#894e12 1px 1px 2px ;}
.postbtn2 a:hover{background:#e3493b;color:#fff;}


/* footer style */
.footer-wrapper{width:100%;float:left;background:#2e2e2f;}
.footer-heading{width:100%;float:left;margin:0 0 12px;font-family: 'Roboto', sans-serif;font-size:18px;color:#e4e4e4;text-transform:uppercase;padding:0 0 3px;}
.footer-wrapper .linkbox{width:19%;float:left;margin:0 1% 0px 0;}
.footer-wrapper .linkmenu{width:100%;float:left;margin:0 0 0px;}
.footer-wrapper .linkmenu ul{ list-style:none;padding:0;margin:0;}
.footer-wrapper .linkmenu ul li{ width:100%;float:left;margin:0 0 10px;}
.footer-wrapper .linkmenu ul li a i.fa-angle-right{color:#fff;background:none;border:1px solid #fff;border-radius:50%;font-size:10px;width:13px;height:13px;text-align:center;margin:2px 5px 0 0;}
.footer-wrapper .linkmenu ul li a{ width:100%;float:left;font-family: 'Roboto', sans-serif;font-size:14px;color:#e4e4e4;text-decoration:none;text-transform:none;}
.footer-wrapper .linkmenu ul li a:hover{color:#fff;}
.footer-wrapper .subscribe{width:36%;float:left;}
.footer-wrapper .subscribebox{width:100%; float:left;}
.footer-wrapper .subscribebox input[type="text"]{width:64.5%; float:left; font-size:16px; color:#909090; padding:12px 9px; border:none; transition:all ease 0.4s; -webkit-transition:all ease 0.4s; -o-transition:all ease 0.4s;border-radius:5px 0 0 5px; -webkit-border-radius:5px 0 0 5px; -o-border-radius:5px 0 0 5px; -moz-border-radius:5px 0 0 5px;} 
/*.footer-wrapper .subscribebox input[type="text"]:focus{background:#a9a9a9; color:#000;}*/
.footer-wrapper .subscribebox input[type="submit"]{width:auto;float:left; font-size:16px; color:#fff;padding:12px 12px;border:none; background:#23b5af;font-weight:500; cursor:pointer;transition:all ease 0.4s; -webkit-transition:all ease 0.4s; -o-transition:all ease 0.4s;font-family: 'Roboto', sans-serif;border-radius:0 5px 5px 0; -webkit-border-radius:0 5px 5px 0; -o-border-radius:0 5px 5px 0; -moz-border-radius:0 5px 5px 0;}
.footer-wrapper .subscribebox input[type="submit"]:hover{background:#1c9691;}
.footer-wrapper .social{width:18%;float:right;margin:0 0 0px 0;}
.foot_socl_icon_area{width:100%; float:right; position:relative;}
.foot_socl_icon_area ul{padding:0px; margin:0px;}
.foot_socl_icon_area li{width:auto; float:left; display:inline; list-style:none; list-style-type:none;margin:0 2% 0 0;}
.foot_socl_icon_area li i{width:52px; height:52px;color:#fff; float:left; text-align:center; padding-top:8px; transition:all ease 0.4s; cursor:pointer; margin-left:4px;border:4px solid #fff;border-radius:50%;font-size:28px;}
.foot_socl_icon_area li i.fb:hover{color:#7088d7;border:4px solid #7088d7;}
.foot_socl_icon_area li i.twitter:hover{color:#3fdcfd;border:4px solid #3fdcfd;}
.foot_socl_icon_area li i.google:hover{color:#ff5420;border:4px solid #ff5420;}
.footer-copyright{width:100%;float:left;margin:45px 0 0px;background:url(../images/footer-line.png) top repeat-x;padding:20px 0 0;font-family: 'Roboto', sans-serif;font-size:14px;color:#e4e4e4;}
.footer-copyright .footerlogo{float:left;margin:0 2% 0 0;}
.footer-copyright span{color:#6d6d6d;line-height:13px;font-size:34px;font-weight:100;margin:0 1% 0 0;}
.termtxt{font-family: 'Roboto', sans-serif;font-size:14px !important;color:#e4e4e4 !important;margin:0 0 0 4% !important;}
.termtxt a{font-family: 'Roboto', sans-serif;font-size:14px;color:#e4e4e4;font-weight:normal;line-height:18px;}
.termtxt a:hover{color:#fff;}
.footer-copyright .designtext{float:right;font-size:11px;color:#6f6f6f;font-family: 'Roboto', sans-serif;}
.footer-copyright .designtext a{font-size:11px;color:#6f6f6f;font-family: 'Roboto', sans-serif;text-decoration:none;}



/* innerpage style */
/* About Us */
.about-uswrap{width:100%;float:left; padding: 95px 0 0;}
.breadcrumbs{width:100%;float:left;margin:12px 0 25px;}
.breadcrumbs ul{margin:0;padding:0;list-style:none;}
.breadcrumbs ul li{color:#3a3a3c;font-family: 'Roboto', sans-serif;font-size:12px;margin:0 5px 0 0;float:left;}
.breadcrumbs ul li a{color:#939393;font-family: 'Roboto', sans-serif;font-size:12px;}
.about-uswrap .about-heading{float: left;text-align: center;width: 100%;margin-bottom:87px;}
.about-uswrap .about-heading span{color: #76767a;font-family: 'Roboto', sans-serif;font-size: 40px;padding: 0 0 20px;background:url(../images/about-line.jpg) no-repeat center bottom;text-transform: uppercase;}
.about-common-wrap {float: left;margin: 29px 0 30px;width: 100%;}
.about-uswrap-mid{width:100%;float:left;background:url(../images/about-pic.jpg) no-repeat center center;}
.about-uswrap-mid .about-left{width:57%;float:right;}
.abouttxt{width:100%;float:left;color:#76767a;font-family: 'Roboto', sans-serif;font-size:50px;text-transform:uppercase;}
.abouttxt span{color:#e3493b;font-family: 'Averia Serif Libre';font-size:52px;text-transform:capitalize;font-weight:700;font-style:italic;}
.abouttxt1{width:100%;float:left;color:#3a3a3c;font-family: 'Roboto', sans-serif;font-size:20px;margin:16px 0;font-weight:700;}
.abouttxt2{width:100%;float:left;color:#3a3a3c;font-family: 'Roboto', sans-serif;font-size:15px;line-height:20px;}
.abouttxt2 p{color:#3a3a3c;font-family: 'Roboto', sans-serif;font-size:15px;line-height:20px;margin:15px 0 0;text-align:justify;}

.abouttxt2 a{color:#23b5af;}
.abouttxt3{width:100%;float:left;color:#3a3a3c;font-family: 'Roboto', sans-serif;font-size:22px;font-weight:700;margin:30px 0 10px;}
.about-uswrap-lower{width:100%;float:left;background:url(../images/about-pic1.jpg) no-repeat center center #F8F8F8;}
.about-uswrap-lower .about-right{width:57%;float:left;}
.about-righttxt{width:100%;float:left;}
.about-righttxt ul{margin:0;padding:0;list-style:none;}
.about-righttxt ul li i.fa-angle-right {background: none;border: 2px solid #f1c66b;border-radius: 50%;color: #f1c66b;font-size: 15px;height: 20px;margin: 2px 5px 0 -28px;text-align: center;width: 20px;font-weight: 700;}
.about-righttxt ul li {font-size:15px;color:#3a3a3c;font-family: 'Roboto', sans-serif;margin:19px 0 0;padding-left: 26px;}

/* Member Resources*/
.member-resources-lft{width:57%;float:left;}
.graphite .accordion {font-family: 'Roboto', sans-serif;}
.graphite .accordion a {padding: 7px 32pxtext-decoration: none;display: block;position: relative;color:#3a3a3c;font-size:18px;font-family:'Roboto';font-weight:500;}
.graphite .accordion ul li a {font-size:14px;color:#473b1f;font-weight:normal;}
.graphite .accordion ul li li a {background: none !important;border:none;font-size:14px;color:#473b1f;font-weight:normal;}
.graphite .accordion a.dcjq-parent, .graphite .accordion a.dcjq-parent:hover {
border-top:2px solid #c1c1c9;padding: 2% 2% 2% 6%;}
.graphite .accordion a.dcjq-parent.active {border-top:5px solid #76767a;border-bottom:0;color:#e3493b;font-size:18px;font-weight:500;background:#fef1f0;}
.graphite .accordion a .dcjq-icon {position: absolute;left:8px;width:20px;height:20px;background: url(../images/member-arrow.png) no-repeat 0 center;}
.graphite .accordion a.dcjq-parent.active .dcjq-icon {background:url(../images/member-arrowhover.png) no-repeat 0 center;}
.graphite .accordion ul li a .dcjq-icon {background: none;}
.graphite .accordion ul li a.dcjq-parent.active .dcjq-icon {background: none;}
.graphite .accordion a:active {}
.demo-container {float: left;width: 100%;}
.graphite-txt{background:#fef1f0;margin:0 0 1px;font-family: 'Roboto', sans-serif;font-size:15px;color:#3a3a3c;line-height:20px; padding: 0 13px 10px 6%;text-align:justify;}
.graphite-txt p{font-family: 'Roboto', sans-serif;font-size:15px;color:#3a3a3c;line-height:20px; padding: 0 13px 18px 0;text-align:justify;margin:0;}
.graphite-txt span{color:#018781;display: inline-table;}
.graphite-txt span a{color:#018781 !important;border-bottom:1px solid #ccc !important;text-decoration:none;padding:0;}
.member-resources-rgt{width:37%;float:right;margin-bottom:55px;}
.member-resources-rgtin{width:100%;float:left;border:1px solid #cdcdcd;border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px-o-border-radius:4px;padding:4%;}
.member-resources-rgtin .member-heading{float: left;text-align: center;width: 100%;margin-bottom: 20px;}
.member-resources-rgtin .member-heading span{color: #3a3a3c;font-family: 'Roboto', sans-serif;font-size: 30px;padding: 0 0 10px;background:url(../images/member-formline.jpg) no-repeat center bottom;}
.member-formbox{width:100%;float:left;margin:18px 0 0;}
.member-formbox-txt{width:100%;float:left;font-family: 'Roboto', sans-serif;font-size:18px;color:#3a3a3c;margin-bottom:7px;}
.member-formbox-txt span{color:#c8c8c8;}
.member-formbox-field{width:100%;float:left;}
.member-formbox-txtfield{width:100%;float:left;box-shadow:1px 2px 0px #f2cb79;border:1px solid #eeba4c;background:#fff;font-size:16px;font-family: 'Roboto', sans-serif;padding:3% 2%;border-radius:3px;}
.member-formbox-txtarea{width:100%;float:left;box-shadow:1px 2px 0px #f2cb79;border:1px solid #eeba4c;background:#fff;font-size:16px;font-family: 'Roboto', sans-serif;padding:3% 2%;border-radius:3px;height:90px;resize:none;}
.member-formbox-txt1{width:45%;float:left;color:#3a3a3c;font-size:18px;}
.member-formbox-txt2{width:45%;float:right;color:#909090;font-size:13px;text-align:right;margin:5px 0 0;}
.member-formbox-txt2 span{color:#e3493b;}
.member-formbox-capchatxt{width:100%;float:left;color:#909090;font-size:13px;margin-bottom:10px;}
.member-formbox-capcha{width:45%;float:left;background:#513c10;font-size:16px;font-family: 'Roboto', sans-serif;padding:2% 2%;border-radius:5px;text-align:center;}
.member-formbox-capcha img{width:auto;text-align:center;float:none;}
.member-formbox-txtfield1{width:45%;float:right;box-shadow:2px 3px 0px #f2cb79;border:1px solid #eeba4c;background:#fff;font-size:16px;font-family: 'Roboto', sans-serif;padding:3% 2%;border-radius:3px;}
.member-formbox-submit input[type="submit"] {width:100%;background:#e3493b;border:2px solid #b6382c;border-radius:5px;-webkit-border-radius:5px;-o-border-radius:5px;-moz-border-radius:5px;font-family: 'Roboto', sans-serif;font-size:24px;color:#fff;text-transform:uppercase;padding:10px 32px;display:inline-table;}
.member-formbox-submit input[type="submit"]:hover{background:#ba4234;border:2px solid #b6382c;}

/* contact */
.contact-textbg{width:100%;float:left;background:url(../images/contact-bg.png) center center no-repeat;font-family: 'candarabold_italic';font-size:24px;color:#2e2e2e;text-align:center;padding:2px 0;margin:60px 0 0;}
.contact-helpbox{width:100%;float:left;}
.contact-helpbox .heading{width:100%;float:left;margin:0px 0 0;font-family: 'Roboto', sans-serif;font-size:50px;color:#76767a;text-align:center;}
.contact-helpbox .subheading{width:100%;float:left;margin:10px 0 55px;font-family: 'Roboto', sans-serif;font-size:20px;color:#3a3a3c;text-align:center;}
.contact-helpbox .formrowbox{width: 37%;float:left;margin:0 6% 30px;}
.contact-helpbox .formrowfullbox{width:86%;float:left;margin:0px 6% 20px;}
.contact-helpbox .formrowfullbox1{width:40%;float:left;margin:0px 6% 55px;}
.contact-helpbox .formrowfullbox2{width:36%;float:right;margin:70px 6% 55px;}
.contact-helpbox .member-formbox-submit{display:inline;}
.contact-helpbox .member-formbox-submit input[type="submit"] {background: none repeat scroll 0 0 #e3493b;border: 2px solid #b6382c;border-radius: 5px;color: #fff;display: inline-table;font-family: "Roboto",sans-serif;font-size: 24px;padding: 10px 42px;text-transform: uppercase;width:auto;}
.contact-helpbox .member-formbox-submit input[type="submit"]:hover {background: none repeat scroll 0 0 #ba4234;border: 2px solid #b6382c;}
.contact-helpbox .member-formbox-txt2 {color: #909090;float: right;font-size: 13px;margin:17px 0 0;text-align: right;width: auto;}
.contact-helpbox .formrowtext{width:100%;float:left;margin:0px 0 3px;font-family: 'Roboto', sans-serif;font-size:18px;color:#3a3a3c;}

/* login */
.login-box{width:36%;margin:0px auto;}
.headingtxt{width:100%;float:left;text-align:center;font-size:30px;color:#76767a;font-family: 'Roboto', sans-serif;margin-bottom:15px;}
.login-formbox {float: left;margin: 27px 0 0;width: 100%;}
.has-js .label_check1 {float:left;height:30px;margin-top:10px;}
.has-js .label_check1 {background:url(../images/check-off.png) no-repeat;}
.has-js label.c_on {background: url(../images/check-on.png) no-repeat;}
.has-js .label_check1 input {position: absolute;left: -9999px;}
.cheak-text {float:left; margin: -6px 0 0 40px;font-family: 'Roboto', sans-serif;font-size:13px;color:#3a3a3c;text-align:left;text-decoration:none;line-height:43px;font-weight:normal;}
.cheak-text1 {float:left; margin: -6px 0 0 2px;font-family: 'Roboto', sans-serif;font-size:13px;color:#1d796c;text-align:left;text-decoration:none;line-height:43px;font-weight:normal;text-transform:uppercase;font-weight:600;}
.login-formbox .formbox-submit{float:right;}
.login-formbox .formbox-submit input[type="submit"] {background: none repeat scroll 0 0 #e3493b;border: 2px solid #b6382c;border-radius: 5px;color: #fff;display: inline-table;font-family: "Roboto",sans-serif;font-size: 24px;padding: 7px 32px;text-transform: uppercase;width:auto;}
.login-formbox .formbox-submit input[type="submit"]:hover {background: none repeat scroll 0 0 #ba4234;border: 2px solid #b6382c;}
.lowertxtbox{width:100%;float:left;padding:3% 2%;background:#ebf3f2;border-radius:3px;margin:27px 0 105px;}
.lowertxtbox .forgottxt{width:100%;float:left;}
.lowertxtbox .forgottxt ul{margin:0px;padding:0;}
.lowertxtbox .forgottxt ul li{float:left;font-size:13px;color:#3a3a3c;font-family: 'Roboto', sans-serif;margin:0 5px;}
.lowertxtbox .forgottxt ul li a{font-size:13px;color:#3a3a3c;font-family: 'Roboto', sans-serif;}
.lowertxtbox .forgottxt ul li a span{font-size:13px;color:#008a84;font-weight:500;}

/* Sign Up */
.signup-box{width:100%;float:left;margin:20px 0 142px;}
.signup-box .freelancer{width:43%;float:left;margin: 20px 0 0 6%;background:url(../images/signup-lftbg.jpg) repeat-x #eeba4c;padding:1.5%;border-radius:8px;}
.signup-box .job{width:43%;float:right;margin: 20px 6% 0 0;background:url(../images/signup-rgtbg.jpg) repeat-x #23b5af;padding:1.5%;border-radius:8px;}
.signup-boxin{width:100%;float:left;}
.signup-boxin .signlft{width:24.2%;float:left;background:#fff;border-radius:5px;padding:15px 1%;text-align:center;}
.signup-boxin .signlft img{width:auto;}
.signup-boxin .signrgt{width:72%;float:right;}
.signup-boxin .signrgttxt{width:100%;float:left;font-family: 'Roboto', sans-serif;color:#fff;font-size:32px;;font-weight:700;text-shadow:0 1px 0 #1e170d;line-height: 26px;}
.signup-boxin .signrgttxt1{width:100%;float:left;font-family: 'Roboto', sans-serif;color:#fff;font-size:14px;margin:12px 0;line-height:20px;}
.signup-boxin .signrgtbtn a{font-family: 'Roboto', sans-serif;float:left;color:#e3493b;font-size:24px;text-decoration:none;padding:5px 22px;border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;border:1px solid #fff;background:#fff;text-transform:uppercase;}
.signup-boxin .signrgtbtn a:hover{background:#e3493b;border:1px solid #e3493b;color:#fff;}

/* client signup */
.client-signup{width:54%;margin:0 auto;}
.client-subheading{color: #3a3a3c;float: left;font-family: "Roboto",sans-serif;font-size: 20px;margin:0 0 55px;text-align: center;width: 100%;}
.client-subheading span{color: #338173;}
.client-subheading span a{color: #338173;font-family: "Roboto",sans-serif;font-size: 20px;}
.client-signup-formbox{width:100%;float:left;margin-bottom:42px;}
.client-signup-formboxtxt{width:100%;float:left;background:url(../images/clientsignup-line.jpg) no-repeat center bottom;font-size:20px;color:#363636;font-family: 'Roboto', sans-serif;padding-bottom:13px;text-transform:capitalize;margin-bottom:10px;}
.client-signup-formrgt{width:68%;float:right;margin: 0 7% 0 0;}
.client-signup-formrgtin{width:100%;float:left;margin-top:20px;}
.client-signup-submit input[type="submit"] {width:100%;background:#20b6ab;border:2px solid #266262;border-radius:5px;-webkit-border-radius:5px;-o-border-radius:5px;-moz-border-radius:5px;font-family: 'Roboto', sans-serif;font-size:24px;color:#fff;text-transform:uppercase;padding:10px 32px;display:inline-table;margin:40px 0 0;}
.client-signup-submit input[type="submit"]:hover{background:#02938c;border:2px solid #266262;}


/* Faq */
.graphite .accordion1 {font-family: 'Roboto', sans-serif;}
.graphite .accordion1 a {padding: 7px 32px;text-decoration: none;display: block;position: relative;color:#3a3a3c;font-size:18px;font-family:'Roboto';font-weight:500;}
.graphite .accordion1 ul li a {font-size:14px;color:#473b1f;font-weight:normal;}
.graphite .accordion1 ul li li a {background: none !important;border:none;font-size:14px;color:#473b1f;font-weight:normal;}
.graphite .accordion1 a.dcjq-parent1, .graphite .accordion1 a.dcjq-parent1:hover {
border-top:2px solid #c1c1c9;padding: 2% 2% 2% 6%;}
.graphite .accordion1 a.dcjq-parent1.active {border-top:5px solid #76767a;border-bottom:0;color:#1fa294;font-size:18px;font-weight:500;background:#f8f8f8;}
.graphite .accordion1 a .dcjq-icon1 {position: absolute;left:8px;width:20px;height:20px;background: url(../images/member-arrow.png) no-repeat 0 center;}
.graphite .accordion1 a.dcjq-parent1.active .dcjq-icon1 {background:url(../images/faq-arrowhover.png) no-repeat 0 center;}
.graphite .accordion1 ul li a .dcjq-icon1 {background: none;}
.graphite .accordion1 ul li a.dcjq-parent1.active .dcjq-icon1 {background: none;}
.graphite .accordion1 a:active {}
.demo-container1 {float: left;width: 100%;}
.graphite-txt1{background:#f8f8f8;margin:0 0 1px;font-family: 'Roboto', sans-serif;font-size:15px;color:#3a3a3c;line-height:20px; padding: 0 13px 10px 6%;text-align:justify;}
.graphite-txt1 p{font-family: 'Roboto', sans-serif;font-size:15px;color:#3a3a3c;line-height:20px; padding: 0 13px 18px 0;text-align:justify;margin:0;}
.graphite-txt1 span{color:#018781;display: inline-table;}
.graphite-txt1 span a{color:#018781 !important;border-bottom:1px solid #ccc !important;text-decoration:none;padding:0;}
.faq-rgtbox{width:100%;float:left;border: 1px solid #cdcdcd;border-radius: 4px;padding:4%;margin: 0 0 25px;}
.faq-rgtbox .faqheading{width:100%;float:left;border-bottom:3px solid #e2483e;font-family: 'Roboto', sans-serif;padding-bottom:7px;font-size:26px;color:#363636;}
.faq-rgtbox .faqtxt{width:100%;float:left;}
.faq-rgtbox .faqtxt ul{margin:0;padding:0;}
.faq-rgtbox .faqtxt ul li{border-bottom:2px solid #bfbfbf;margin:11px 0 0;padding-left:15px;font-family: 'Roboto', sans-serif;font-size:16px;color:#363636;padding-bottom:11px;padding-left: 35px;}
.faq-rgtbox .faqtxt ul li:last-child{border-bottom:0;}
.faq-rgtbox .faqtxt ul li a{font-family: 'Roboto', sans-serif;font-size:16px;color:#363636;}
.faq-rgtbox .faqtxt ul li .fa-check-circle{width:20px;height:20px;color:#22bbb6;text-align:center;margin: 3px 0 0 -24px;font-size:19px;}
.faq-lft{width:100%; float:left;background:#fff;border:2px solid #ffbc4d;padding:2px;border-radius:5px;-webkit-border-radius:5px;-o-border-radius:5px;-moz-border-radius:5px;margin-bottom:25px;}
.faq-lft input[type="text"]{width:89%; float:left; font-size:18px;font-family: 'Roboto', sans-serif; color:#909090; padding:12.5px 0 12.5px 2%; border:none; background:#fff; transition:all ease 0.4s; -webkit-transition:all ease 0.4s; -o-transition:all ease 0.4s; border-radius:0px;} 
.faq-lft input[type="submit"]{width:61px; height:54px; float:right;color:#fff; padding:8px 8px; border:none; background:#268cf7; text-transform:uppercase; font-weight:300; cursor:pointer;transition:all ease 0.4s; -webkit-transition:all ease 0.4s; -o-transition:all ease 0.4s;background:
url(../images/writing-search.png) no-repeat;font-size:0;}

/* Product Detail */
.product-detailheading{width:100%;float:left;color:#76767a;font-size:30px;font-family: 'Roboto', sans-serif;margin-bottom:15px;}
.product-detailsubheading{width:100%;float:left;color:#76767a;font-size:15px;font-family: 'Roboto', sans-serif;margin-bottom:25px;}
.product-detaillft{width:29%;float:left;margin-bottom:20px;}
.product-detaillftin{width:100%;float:left;padding:4%;border:1px solid #ebebeb;border-radius:5px;}
.product-detailbtn{float:left;width:100%;}
.product-detailbtn a{background:#e3493b;border:2px solid #b6382c;border-radius:5px;-webkit-border-radius:5px;-o-border-radius:5px;-moz-border-radius:5px;transition:all ease 0.4s; -webkit-transition:all ease 0.4s; -o-transition:all ease 0.4s;-moz-transition:all ease 0.4s;font-family: 'Roboto', sans-serif;font-size:20px;color:#fff;text-transform:uppercase;padding:8px 0;float:left;width:100%;text-align:center;}
.product-detailbtn a:hover{background:#23b5af;border:2px solid #176764;}
.product-detaillft-txt{width:100%;float:left;}
.product-detaillft-txt ul{margin:0;padding:0;}
.product-detaillft-txt ul li{font-family: 'Roboto', sans-serif;font-weight:700;font-size:30px;color:#3a3a3c;border-bottom:1px solid #e2e2e2;padding: 0 0 15px 47px;margin:15px 0 0;text-transform:uppercase;}
.product-detaillft-txt ul li:last-child{border-bottom:0;}
.product-detaillft-txt ul li img{width:auto;float:none;}
.product-detaillft-txt ul li.pstar{background:url(../images/product-detail-pic.png) no-repeat 5px 0;}
.product-detaillft-txt ul li.pdoler{background:url(../images/product-detail-pic1.png) no-repeat 5px 0;}
.product-detaillft-txt ul li.pbag{background:url(../images/product-detail-pic2.png) no-repeat 5px 0;}
.product-detaillft-txt ul li.pclock{background:url(../images/product-detail-pic3.png) no-repeat 5px 0;}
.product-detaillft-txt ul li.pmap{background:url(../images/product-detail-pic4.png) no-repeat 5px 0;}
.product-detaillft-txt ul li span{color:#3a3a3c;font-size:14px;font-weight:normal;line-height:37px;}
.product-detailrgt{width:69%;float:right;}
.product-detailrgtin{width:100%;float:left;padding:2%;border:1px solid #ebebeb;border-radius:5px;margin-bottom:50px;}
.product-detail-rgtbox{width:100%;float:left;}
.product-detail-picbox{width:16%;float:left;}
.product-detail-picbox img{width:100%;float:left;}
.product-detail-rgtcontent{width:80%;float:right;}
.product-detail-rgttxt{width:100%;float:left;font-family: 'Roboto', sans-serif;font-size:30px;color:#169f99;font-weight:700;margin-bottom:12px;}
.product-detail-rgttxt1{width:100%;float:left;}
.product-detail-rgttxt1 ul li{float:left;font-family: 'Roboto', sans-serif;font-size:20px;color:#3a3a3c;font-weight:700;margin:0 8px 24px 0;}
.product-detail-tags{width:100%;float:left;}
.product-detail-tags ul{margin:0;padding:0;}
.product-detail-tags ul li{float:left;margin:0 10px 15px 0;font-size:12px;color:#6f6f73;font-family: 'Roboto', sans-serif;}
.product-detail-tags ul li a{background:#eeeded;padding:8px 18px;font-size:12px;color:#6f6f73;font-family: 'Roboto', sans-serif;text-align:center;border-radius:3px;float:left;}
.product-detail-tags ul li a:hover{background:#5e5c5c;color:#fff;}
.product-detail-tags ul li .spantxt{color:#169f99;font-size:12px;cursor:pointer;line-height:33px;}
.product-detail-tags ul li .spantxt a{color:#169f99;font-size:12px;cursor:pointer;line-height:33px;background:none;padding:0;}
.product-detail-tags1{width:100%;float:left;}
.product-detail-tags1 ul{margin:0;padding:0;}
.product-detail-tags1 ul li{float:left;margin:0 10px 15px 0;font-size:12px;color:#6f6f73;font-family: 'Roboto', sans-serif;}
.product-detail-tags1 ul li a{background:#eeeded;padding:8px 18px;font-size:12px;color:#6f6f73;font-family: 'Roboto', sans-serif;text-align:center;border-radius:3px;float:left;}
.product-detail-tags1 ul li a:hover{background:#5e5c5c;color:#fff;}
.product-detail-rgttxt2{width:100%;float:left;font-size:20px;font-family: 'Roboto', sans-serif;font-weight:700;margin:20px 0 10px;}
.product-detail-rgttxt3{width:100%;float:left;font-size:14px;font-family: 'Roboto', sans-serif;text-align:justify;color:#3a3a3c;}
.product-detail-rgttxt3 p{font-size:14px;font-family: 'Roboto', sans-serif;text-align:justify;color:#3a3a3c;line-height:20px;margin-bottom:20px;}
.product-detail-rgttxt4{width:100%;float:left;border-top:1px solid #e2e2e2;border-bottom:1px solid #e2e2e2;padding:10px 0;color:#3a3a3c;font-family: 'Roboto', sans-serif;font-size:13px;margin-bottom:30px;}
.product-detail-rgttxt4 span{color:#008a84;font-weight:700;}
.product-detail-rgttxt4 span a{color:#008a84;font-weight:700;}
.product-detail-rgttxt5{float:left;font-family: 'Roboto', sans-serif;font-size:20px;color:#3a3a3c;font-weight:700;}
.product-detail-btn{text-align:center;}
.product-detail-btn a{background:#e3493b;border:2px solid #b6382c;border-radius:5px;-webkit-border-radius:5px;-o-border-radius:5px;-moz-border-radius:5px;transition:all ease 0.4s; -webkit-transition:all ease 0.4s; -o-transition:all ease 0.4s;-moz-transition:all ease 0.4s;font-family: 'Roboto', sans-serif;font-size:18px;color:#fff;text-transform:uppercase;padding:7px 18px;display:inline-table;}
.product-detail-btn a:hover{background:#23b5af;border:2px solid #176764;}

/*Search Result */
.search-section-lft{width:100%;float:left;border: 1px solid #ebebeb;border-radius:5px;}
.search-section-narrowtxt{width:100%;float:left;background:#ffbc4d;color:#fff;font-family: 'Roboto', sans-serif;font-size:24px;padding:12px 7%;border-radius:5px 5px 0 0;text-transform:uppercase;}
.search-section-in{width:100%;float:left;padding:4%;}
.search-catagorybox{width:100%;float:left;border-bottom:1px solid #e2e2e2;padding-bottom:20px;margin-bottom:20px;}
.search-catagory-txt{width:100%;float:left;font-family: 'Roboto', sans-serif;color:#76767a;font-size:15px;text-transform:uppercase;margin-bottom:10px;}
.search-catagory-select{width:100%;float:left;}
.search-feedbacktxt{width:100%;float:left;font-family: 'Roboto', sans-serif;color:#169f99;font-size:15px;margin-bottom:5px;}
.search-feedbacktxt span{font-weight:700;}
.search-feedbackbox{width:100%;float:left;}
.search-feedbackbox .reviewtxt{width:100%;float:left;margin-bottom:5px;font-size:13px;color:#76767a;font-family: 'Roboto', sans-serif;margin-top:10px;}
.search-feedbackbox .reviewtxt img{width:auto; margin: 0 4% 0 0;}
.search-check{width:100%;float:left;}
.search-detailrgt{width:100%;float:left;padding:2%;border:1px solid #ebebeb;border-radius:5px;margin-bottom:20px;}
.search-postbtn{float:right;margin:-27px 0 0;}
.search-postbtn a{background:#e3493b;border:2px solid #b6382c;border-radius:5px;-webkit-border-radius:5px;-o-border-radius:5px;-moz-border-radius:5px;transition:all ease 0.4s; -webkit-transition:all ease 0.4s; -o-transition:all ease 0.4s;-moz-transition:all ease 0.4s;font-family: 'Roboto', sans-serif;font-size:20px;color:#fff;text-transform:uppercase;padding:8px 15px;float:left;}
.search-postbtn a:hover{background:#23b5af;border:2px solid #176764;}

.search-section-rgtin{width:100%; float:left;background:#fff;border:2px solid #ffbc4d;padding:2px;border-radius:5px;-webkit-border-radius:5px;-o-border-radius:5px;-moz-border-radius:5px;margin-bottom: 10px;}
.search-section-rgtin input[type="text"]{width:58%; float:left; font-size:24px;font-family: 'Roboto', sans-serif; color:#909090; padding:7px 9px; border:none; background:#fff; transition:all ease 0.4s; -webkit-transition:all ease 0.4s; -o-transition:all ease 0.4s; border-radius:0px;margin:0 0 0 1%;} 
.search-section-rgtin input[type="submit"]{width:51px; height:44px; float:right;color:#fff; padding:8px 8px; border:none; background:#268cf7; text-transform:uppercase; font-weight:300; cursor:pointer;transition:all ease 0.4s; -webkit-transition:all ease 0.4s; -o-transition:all ease 0.4s;background:url(../images/search-resultpic.png) no-repeat;font-size:0;}
.search-detail-rgttxt{width:100%;float:left;font-family: 'Roboto', sans-serif;font-size:24px;color:#169f99;font-weight:700;margin-bottom:12px;}
.search-detail-rgttxt1{width:100%;float:left;}
.search-detail-rgttxt1 ul li{float:left;font-family: 'Roboto', sans-serif;font-size:16px;color:#3a3a3c;font-weight:700;margin:0 8px 12px 0;}
.search-detail-rgttxt3{width:100%;float:left;font-size:14px;font-family: 'Roboto', sans-serif;text-align:justify;color:#3a3a3c;line-height:20px;margin-bottom:15px;}
.search-detail-rgttxt3 span{font-size:14px;font-family: 'Roboto', sans-serif;text-align:justify;color:#3a3a3c;line-height:20px;}
.search-detail-rgttxt3 p{font-size:14px;font-family: 'Roboto', sans-serif;text-align:justify;color:#3a3a3c;line-height:20px;margin-bottom:20px;}
.search-detail-rgttxt4{width:100%;float:left;font-size:14px;font-family: 'Roboto', sans-serif;text-align:justify;color:#3a3a3c;}
.search-detail-rgttxt4 p{font-size:14px;font-family: 'Roboto', sans-serif;text-align:justify;color:#3a3a3c;line-height:20px;margin-bottom:20px;}
.search-detail-rgttxt3 p .moretxt{font-size:14px;color:#169f99;font-family: 'Roboto', sans-serif;}
.search-detail-rgttxt5{width:100%;float:left;}
.search-detail-rgttxt5 ul{margin:0;padding:0;}
.search-detail-rgttxt5 ul li{font-family: 'Roboto', sans-serif;font-size:12px;text-transform:uppercase;color:#6f6f73;margin:0 5px 10px;float:left;}
.search-detail-rgttxt5 ul li span{font-size:13px;color:#3a3a3c;font-weight:700;margin: 0 5px 0 0;float:left;}
.search-detail-rgttxt5 ul li img{width:auto;}
.searchknow-morebtn{float:left;}
.searchknow-morebtn a{font-family: 'Roboto', sans-serif;float:left;color:#fff;font-size:14px;text-decoration:none;margin:5px 15px 0 0;padding:5px 9px;border-radius:7px;-moz-border-radius:7px;-webkit-border-radius:7px;border:2px solid #248884;background:#23b5af;text-transform:uppercase;}
.searchknow-morebtn a:hover{font-size:14px;text-decoration:none;padding:5px 9px;background:#23b5af;color:#fff;border:2px solid #176764;}
.searchknow-applytojob{float:left;}
.searchknow-applytojob a{font-family: 'Roboto', sans-serif;float:left;color:#fff;font-size:14px;text-decoration:none;margin:5px 0 0;padding:5px 9px;border-radius:7px;-moz-border-radius:7px;-webkit-border-radius:7px;border:2px solid #b6382c;background:#e3493b;text-transform:uppercase;}
.searchknow-applytojob a:hover{font-size:14px;text-decoration:none;padding:5px 9px;background:#e3493b;color:#fff;border:2px solid #e3493b;}
.pagination{float:right;margin:20px 0 50px;}
.pagination ul{margin:0;padding:0;}
.pagination ul li{font-size:17px;font-family: 'Roboto', sans-serif;float:left;margin:0 0 0 10px;}
.pagination ul li a{border:1px solid #c6cdd1;background:#fff;color:#6b6b6b;font-size:17px;font-family: 'Roboto', sans-serif;float:left;padding: 5px 10px;}
.pagination ul li a:hover, .pagination ul li a.pactive{border:1px solid #23b5af;background:#23b5af;color:#fff;font-size:17px;font-family: 'Roboto', sans-serif;float:left;padding: 5px 10px;}
.exrow1_txt1{width:100%;float:left;}
.more {display: none;}
a.showLink, a.hideLink {text-decoration: none;color: #169f99;padding-right: 8px;font-size: 12px;font-family: 'Roboto', sans-serif;font-weight:normal;}
a.hideLink {font-family: 'Roboto', sans-serif;font-size:12px;font-weight:normal;float:left;margin-bottom:20px;}
